.game-board {
    display: grid;
    grid-template-rows: 200px;
    grid-template-columns: 200px;
    margin-top: 10vw;
    justify-content: center;
}


.box {
  background: rgb(255, 255, 255);

  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  display: none;
}

#togg1 {
    margin-left: 50%;

}